body {
  font-family: Tahoma;
  margin: 2.5em 5em;
  background-color: Gainsboro;
  max-width: 850px;
  margin: 0 auto;
  line-height: 1.8em;
}

header {
  background-color: #EC576B;
  color: white;
  border-bottom: 2px #FEDC3D solid;
}

header h1 {
  border-bottom: 5px #FFFFFF solid;
  font-size: 5em;
}

h2 {
  border-bottom: 5px #000000 solid;
}

section {
  background-color: #FEDC3D;
}

footer {
  background-color: #4EC5C1;
  border-top: 5px #FEDC3D solid;
  color: white;
}

.bigtitle{
  font-size: 4em;
  border-style:solid;
  border-radius:15px;
  border-width:15px;
  text-align: center;
  line-height: 2.0em;
}

.title{
  font-size: 3em;
  line-height: 2.0em;
}

.contents{
  position: fixed;
  top: 0.4em;
  left: 0.4em;
  padding: 1em;
  color: grey;
  font-size: 18px;
  line-height: 1.8em;
  border-style:solid;
  border-radius:10px;
  border-width:10px;
  text-align: center;
}
