body {
  width: 80%;
  margin: 10vw auto;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

body * {
    z-index: 20;
    color: #000;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 10vw;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

@media screen and (min-width: 40em) {
  body {
    width: 50%;
  }
  .heading {
    font-size: 6vw;
  }

  .subheading {
    font-size: 1.75vw;
  }
}

/*================================================
Start Important Part
==================================================*/

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

/*================================================
End Important Part
==================================================*/

#light {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #fff;
    z-index: 10;
    -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);

}

li a:hover {
  color: blue;
}

.navigation {
    position: relative;
    top: 50px;
  float: left;
}

.navigation ul {
    list-style: none;
}

.text-container {
    position: relative;
  width: 80%;
    top: 50px;
  float: right;
}

#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}

p {
    position: relative;
}

.bottom-links {
    position: relative;
}

.chapter-select {
    list-style: none;
    float: left;
    margin-top: 20px;
}

.share-chapter {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.chapter-select li {
    display: inline-block;
    margin-right: 10px;
}

.share-chapter li {
    display: inline-block;
}

.share-chapter img{
    width: 35px;
}
